@model Dahlia.ViewModels.RetreatViewModel

@{
    ViewBag.Title = "Schedule a Retreat";
}

<p>
@using (Html.BeginForm("CreateCurrent", "Retreat"))
{
    <div>
        <fieldset>
            <legend>Enter the info</legend>
            <div class="editor-label">
    @Html.LabelFor(vm => vm.Date)
            </div>
            <div class="editor-field">
    @Html.TextBoxFor(vm => vm.Date)
            </div>

            <div class="editor-label">
    @Html.LabelFor(vm => vm.Description)
            </div>
            <div class="editor-field">
    @Html.TextBoxFor(vm => vm.Description)
            </div>

            <input type="submit" value="Schedule" />
        </fieldset>
     </div>
}
</p>
