<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="SqlConnStr" connectionString="Data Source=Server;Initial Catalog=Database;User Id=User;Password=Pass;" providerName="System.Data.SqlClient" />
        <add name="SqliteConnStr" connectionString="Data Source=filename;Version=3;" providerName="System.Data.SQLite" />
        <add name="SqliteConnStrReadOnly" connectionString="Data Source=filename;Version=3;Read Only=True;" providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>
