#mainmenuicon {
    background-image: url(../Images/mainmenu.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 25px;
}

.itemmenuicon {
    background-image: url(../Images/itemmenu.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: right;
    height: 10px;
    width: 10px;
}

.menu {
    background: #FFFFFF;
    border: 1px solid #000000;
    list-style-type: none;
    padding-left: 0px;
    position: absolute;
    white-space: nowrap;
    z-index: 100;
}

.menu a {
    color: #474747;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.menu a:hover {
    background: #808080;
    color: #FFFFFF;
}

.menu hr {
    width: 90%;
}

#mainmenu {
    margin: -20px 0px 0px 10px;
}

.actions {
    border: 1px solid #000000;
    list-style-type: none;
    max-width: 200px;
    padding-left: 0px;
}

.actions a {
    border: 1px solid #474747;
    color: #474747;
    display: block;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.actions a:hover {
    background: #808080;
    color: #FFFFFF;
}

.listbox {
//    list-style-type: none;
    padding-left: 0px;
}

.listbox li {
    border: 1px solid #000000;
    display: inline-block;
    margin: 5px 0px;
    padding: 5px;
}

.title {
    color: #474747;
    font-size: large;
    font-weight: bold;
}

.retreats li {
    width: 250px;
}

.participants li {
    vertical-align: top;
    width: 500px;
}

.inARetreat {
    padding-left: 0px;
}

.inARetreatContainer {
    display: inline-block;
    margin: 0px 10px;
    vertical-align: top;
    width: 250px;
}

.participantsInARetreat li {
    width: 238px;
}
