#nav {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    overflow: hidden;
    padding-left: 0px;
    white-space: nowrap;
}

#nav li {
    display: inline-block;
    padding: 5px;
}

#nav a {
    color: #474747;
    font-weight: bold;
    text-decoration: none;
}

.navitemactive {
    background: none repeat scroll 0 0 #777777;
}

#menucontainer {
    background: #FFFFFF;
    border: 1px solid black;
    margin: -20px 0px 0px 10px;
    max-width: 200px;
    position: absolute;
    z-index: 100;
}

#menu {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

#menu a {
    color: #474747;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

#menu a:hover {
    background-color: gray;
    color: #FFFFFF;
}

#menu hr {
    width: 90%;
}

.actions {
    border: 1px solid #000000;
    list-style-type: none;
    max-width: 200px;
    padding-left: 0px;
}

.actions a {
    border: 1px solid #474747;
    color: #474747;
    display: block;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.actions a:hover {
    background: gray;
    color: #FFFFFF;
}

.participants {
    color: #474747;
    list-style-type: none;
    max-width: 500px;
    padding-left: 0px;
}

.participants li {
    border: 1px solid #000000;
    margin: 5px 0px;
    padding: 5px;
}

.name a {
    color: #474747;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.remove a {
    color: #474747;
    float: right;
    font-size: x-small;
    text-decoration: none;
}

.participants li:hover {
    background: gray;
}

.participants li:hover a {
    color: #FFFFFF;
}

.listbox {
    list-style-type: none;
    padding-left: 0px;
}

.listbox li {
    border: 1px solid #000000;
    margin: 5px 0px;
    padding: 5px;
}

.title {
    color: #474747;
    font-size: large;
    font-weight: bold;
}

.mainmenuicon {
    background-image: url(../Images/mainmenu.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 25px;
}

.menuicon {
    background-image: url(../Images/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: right;
    height: 10px;
    width: 10px;
}

.menu {
    background: #FFFFFF;
    border: 1px solid #000000;
    list-style-type: none;
    max-width: 100px;
    padding: 5px 0px 5px 0px;
    position: absolute;
    z-index: 75;
}

.menu a {
    color: #474747;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.menu a:hover {
    background: gray;
    color: #FFFFFF;
}

.retreats li {
    display: inline-block;
    width: 250px;
}
