@model IEnumerable<dynamic>

@{
    Layout = null;
    var text = String.Empty;
}

<ul id="nav">
@foreach (var retreat in Model)
{
    if (retreat.IsSelected)
    {
        text = "class='navitemselected'";
    }

    <li @text>@Html.ActionLink((string)retreat.Date.ToShortDateString(), "GoTo", new { id = retreat.Id}, new { title = retreat.Description })</li>
}
</ul>
