@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Retreats";
}

<h2>Current Retreats</h2>
<p>
    <ul>
@foreach (var retreat in Model)
{
        <li>@retreat.Date.ToShortDateString() (@retreat.Description)</li>
}
    </ul>
</p>
