@model IEnumerable<dynamic>

@{
    Layout = null;
}

<link href="@Url.Content("~/Content/jquery.thumbnailScroller.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.thumbnailScroller.js")" type="text/javascript"></script>

<script>
$(function() {
    $("#nav").thumbnailScroller({
        scrollerType: "hoverAccelerate",
        scrollerOrientation: "horizontal",
        scrollSpeed: 2,
        scrollEasing: "easeOutCirc",
        scrollEasingAmount: 600,
        acceleration: 4,
        scrollSpeed: 800,
        noScrollCenterSpace: 10,
        autoScrolling: 0,
        autoScrollingSpeed: 2000,
        autoScrollingEasing: "easeInOutQuad",
        autoScrollingDelay: 500
    });
});
</script>

<div id="nav" class="jThumbnailScroller">
    <div class="jTscrollerContainer">
        <div class="jTscroller">
@foreach (var retreat in Model)
{
            @Html.ActionLink((string)retreat.Date.ToShortDateString(), "GoTo", new { id = retreat.Id }, new { title = retreat.Description })
}
        </div>
    </div>
</div>