@model IEnumerable<dynamic>

@{
    Layout = null;
}

<ul class="nav">
@foreach (var retreat in Model)
{
    <li class="navitem">@Html.ActionLink((string)retreat.Date.ToShortDateString(), "GoTo", new { id = retreat.Id}, new { title = retreat.Description })</li>
}
</ul>
