@model dynamic

@{
    ViewBag.Title = "Retreats";
}

<p>
    @Html.Action("Current", "Retreat", new { selected = Model.Id })

    <h2>@Model.Description</h2>
    <ul class="actions">
        <li>@Html.ActionLink("Add Participant", "AddPartic", new { id = Model.Id })</li>
    </ul>

    @if (((IDictionary<string, object>)Model).ContainsKey("Participants"))
    {
        <ul>
        @foreach (var participant in Model.Participants)
        {
            <li>@participant.ParticipantName</li>
        }
        </ul>
    }
</p>
