<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
        <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
        <section name="DBSubscriptionStorageConfig" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.Core" />
    </configSections>

    <connectionStrings>
        <add name="event" connectionString="Data Source=.;Initial Catalog=EventStore;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
        <add name="eventLite" connectionString="Data Source=C:\dev\TNT Hughes\EventStore.SQLite;Version=3;" providerName="System.Data.SQLite" />
    </connectionStrings>

    <MsmqTransportConfig
        InputQueue="CommandInputQueue"
        ErrorQueue="error"
        NumberOfWorkerThreads="1"
        MaxRetries="5"
    />

    <UnicastBusConfig
        DistributorControlAddress=""
        DistributorDataAddress=""
        ForwardReceivedMessagesTo="">
        <MessageEndpointMappings>
        </MessageEndpointMappings>
    </UnicastBusConfig>

    <DBSubscriptionStorageConfig>
        <NHibernateProperties>
            <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
            <add Key="connection.driver.class" Value="NHibernate.Driver.SqlClientDriver" />
            <add Key="connection.connection_string" Value="Data Source=.;Initial Catalog=DataStore;Integrated Security=SSPI;" />
            <add Key="dialect" Value="NHibernate.Dialect.MsSql2008Dialect" />
        </NHibernateProperties>
    </DBSubscriptionStorageConfig>
</configuration>
